<ion-view class="about"><!--CONTENT--><ion-content scroll="false">
    <div class="logo">
      <img alt="{{t(&#39;global.app.name&#39;)}}" src="img/logo.png" /><span class="version" ng-bind="t(&#39;about.version.prefix&#39;) + appVersion"></span>
    </div>
    <a href="http://roupalivre.com.br/app" ng-bind="t(&#39;about.content.backers&#39;)" target="_blank"></a><a href="https://github.com/Nucleo-235/roupa-livre-ionic" ng-bind="t(&#39;about.content.open_source&#39;)" target="_blank"></a><a href="https://docs.google.com/document/d/11JL3w2G0NUf8K2nPC477UA-WKFQyHeDSk3q_IfLFTkw/edit?usp=sharing" ng-bind="t(&#39;about.content.terms&#39;)" target="_blank"></a></ion-content></ion-view>
