<ion-view title="Alimentação">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-list>
    <h3> Praça de Alimentação </h3>
      <ion-item>
        <h2><b>Praça de Evento</b></h2>
        <h2>Lá você encontra sanduiches, pastel, comidinhas e bebidas.</h2>
      </ion-item>
    </ion-list>
    <h3>Restaurantes Próximos</h3>
    <ion-list>
      <ion-item>
        <h2>Restaurante Mirante da Villa</h2>
        <h2>Rua Cel Francisco Derosa</h2>
        <h2>(11) 4597-1292</h2>
      </ion-item>
      <ion-item>
        <h2>Pizzaria e Restaurante La Bodeguita</h2>
        <h2>Rua Cel João Rodrigues dos Santos</h2>
        <h2>(11) 4597-3258</h2>
      </ion-item>
      <ion-item>
        <h2>Pizzaria e Restaurante Sinhá Gourmet</h2>
        <h2>Rua Maria Tereza da Conceição</h2>
        <h2>(11) 4597-3394</h2>
      </ion-item>
      <ion-item>
        <h2>Pizzaria Veneza</h2>
        <h2>Rua Maria Tereza da Conceição</h2>
        <h2>(11) 4597-3202</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

