<ion-view id="apparel-result" title="">
  <div class="content with-lower-bar">
    <ion-content overflow-scroll="true"><img class="main" src="./img/sample/apparel.png" />
      <div class="info">
        <h1 class="title">
          vestidinho florido
        </h1>
        <ul class="extra-info">
          <li class="size-info">
            tamanho M
          </li>
          <li class="gender">
            fem
          </li>
          <li class="age-info">
            adulto
          </li>
        </ul>
        <ul class="tags">
          <li>
            #vestido
          </li>
          <li>
            #florido
          </li>
          <li>
            #vermelho
          </li>
        </ul>
        <p class="description">
          <vestido>coringa! forever 21, usado apenas uma vez!</vestido>
        </p>
        <div class="kind-hearted">
          <img class="profile" src="./img/sample/kind-hearted.png" />
          <div class="name">
            giovana camargo
          </div>
          <div class="distance">
            giovana camargo
          </div>
        </div>
      </div>
    </ion-content>
  </div>
  <div class="lower-bar" style="">
    <div class="button-bar text-center" id="rate">
      <a class="dislike" href=""><span class="fa-stack fa-3x"><i class="fa fa-circle-thin fa-stack-2x back"></i><i class="fa fa-times fa-stack-1x front"></i></span></a><a class="like" href=""><span class="fa-stack fa-3x"><i class="fa fa-circle-thin fa-stack-2x back"></i><i class="fa fa-heart fa-stack-1x front"></i></span></a>
    </div>
  </div>
</ion-view>
