<ion-view title="Nazaré Paulista">
    <ion-content overflow-scroll=e"true"  class="has-header" ng-init="loadImages()">
        <div class="header">
                <img src="img/abertura.jpg" width="100%">
            </div>
        </div>

        <div id="destaques">
            <div class="destaque-row" ng-repeat="currentImage in images" ng-if="$index % 2 === 0">
                <div class="col col-50 destaque left" ng-init="image=images[$index]">
                    <div class="destaqueContainer">
                        <a ng-if="image.url" href="{{image.url}}">
                            <h5>{{image.title}}</h5>
                            <img ng-src="{{image.src}}" />
                        </a>
                        <div ng-if="!image.url" >
                            <h5>{{image.title}}</h5>
                            <img ng-src="{{image.src}}" />
                        </div>
                    </div>
                </div>

                <div class="col col-50 destaque right" ng-if="$index + 1 < images.length" ng-init="image=images[$index + 1]">
                    <div class="destaqueContainer">
                        <a ng-if="image.url" href="{{image.url}}">
                            <h5>{{image.title}}</h5>
                            <img ng-src="{{image.src}}" />
                        </a>
                        <div ng-if="!image.url" >
                            <h5>{{image.title}}</h5>
                            <img ng-src="{{image.src}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
