<ion-view title="Conheca Nazare">
    <ion-content overflow-scroll="true" padding="true" class="has-header" id="lugares">
        <h1>Marinas</h1>
        <ion-list>
            <ion-item class="item" href="http://www.represagrandemarina.com.br/">
                <h2>Represa grande marina</h2>
                <p>www.represagrandemarina.com.br</p>
            </ion-item>
            <ion-item class="item" href="http://www.estanciadasaguas.com.br/">
                <h2>Estancia das Águas</h2>
                <p>www.estanciadasaguas.com.br</p>
            </ion-item>
            <ion-item class="item" href="http://www.rivieradenazare.com.br/">
                <h2>Marina Riviera</h2>
                <p>www.rivieradenazare.com.br</p>
            </ion-item>
            <ion-item class="item" href="http://www.marinarequinte.com.br/">
                <h2>Marina Vila Requinte</h2>
                <p>www.marinarequinte.com.br</p>
            </ion-item>
            <ion-item class="item" href="http://www.pier44.com.br/">
                <h2>Marina e Pousada Pier 44</h2>
                <p>http://www.pier44.com.br/</p>
            </ion-item>
        </ion-list>

        <h1>Hotéis/Pousadas</h1>
        <ion-list id="hoteis">
            <ion-item class="item">
                <h2>Hotel Estancia Nazaré Paulista</h2>
                <p>somente telefone para contato <a href="tel:11 5704-6409">11 5704-6409</a></p>
            </ion-item>
            <ion-item class="item" href="http://www.sitioepousadaduduka.com.br">
                <h2>Pousada Duduka</h2>
                <p>www.sitioepousadaduduka.com.br</p>
            </ion-item>
            <ion-item class="item" href="http://www.recantoalex.com.br">
                <h2>Recanto Alex</h2>
                <p>www.recantoalex.com.br</p>
            </ion-item>
            <ion-item class="item">
                <h2>Pousada Jesus</h2>
                <p>Somente telefone para contato <a href="tel:11 4597-3488">11 4597-3488</a> ou email <a href="mailto:jeff.evan@uol.com.br">jeff.evan@uol.com.br</a></p>
            </ion-item>
            <ion-item class="item">
                <h2>Colonia De Féias Sintaema</h2>
                <p>Para funcionários da sabesp e convidados</p>
                <p>Somente telefone para contato <a href="tel:11 4597-1322">11 4597-1322</a></p>
            </ion-item>
            <ion-item class="item" href="http://www.hotelnazare.com.br">
                <h2>Hotel E Restaurante Nazaré</h2>
                <p>www.hotelnazare.com.br</p>
            </ion-item>
            <ion-item class="item" href="http://www.recantocoqueiral.com.br">
                <h2>Recanto Coqueiral</h2>
                <p>www.recantocoqueiral.com.br</p>
            </ion-item>
            <ion-item class="item" href="http://www.pousadabezerra.com.br">
                <h2>Pousada Bezerra</h2>
                <p>www.pousadabezerra.com.br</p>
            </ion-item>
            <ion-item class="item" href="http://">
                <h2>Canto Da Enseada Piççolo Resort</h2>
                <p>www.cantodaenseada.com.br</p>
            </ion-item>
            <ion-item class="item">
                <h2>Pousada Do Alemão</h2>
                <p>Somente telefone para contato <a href="tel:11 9-9395-5099">11 9-9395-5099</a></p>
            </ion-item>
            <ion-item class="item" href="http://www.hotelpousadafazendinha.com.br">
                <h2>Pousada Fazendinha</h2>
                <p>www.hotelpousadafazendinha.com.br</p>
            </ion-item>
            <ion-item class="item">
                <h2>Pousada Rondon</h2>
                <p>Somente telefone para contato <a href="tel:11 4597-1314">11 4597-1314</a></p>
            </ion-item>
            <ion-item class="item" href="http://www.pousadafigueiragrande.com.br">
                <h2>Pousada Figueira Grande</h2>
                <p>www.pousadafigueiragrande.com.br</p>
            </ion-item>
            <ion-item class="item" href="http://www.hotelestanciaatibainha.com.br">
                <h2>Hotel Estancia Atibainha</h2>
                <p>www.hotelestanciaatibainha.com.br</p>
            </ion-item>
            <ion-item class="item">
                <h2>Pousada Das Acácias</h2>
                <p>Somente telefone para contato <a href="tel:11 9-9211-7040">11 9-9211-7040</a></p>
            </ion-item>
            <ion-item class="item" href="http://www.recantodoteixeira.com.br">
                <h2>Hotel Recanto Do Teixeira</h2>
                <p>www.recantodoteixeira.com.br</p>
            </ion-item>
            <ion-item class="item" href="http://www.nvcamp.com.br">
                <h2>Acampamento North Valley</h2>
                <p>www.nvcamp.com.br</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>