<ion-view title="Mandamentos da Folia">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        </div>
        <div>
          <h4>I - A MÚSICA OFICIAL DO CARNAVAL NAZAREANO É A MARCHINHA</h4>
            <p>
              Nós cantamos as marchinhas locais e ponto. Você acha radical demais? Pois saiba que foi assim que nosso carnaval cresceu, como uma manifestação espontânea e criativa. Por esse motivo, não admitimos som mecânico nas casas e nos carros.
            </p>
        </div>
        <div>
          <h4>II - APRENDA A CANTAR NOSSA MARCHINHAS</h4>
            <p>
              É só abrir os ouvidos e o coração. Depois você vai se lembrar delas com muitas saudades e vai querer voltar pra cá no ano que vem!
              Você pode aprender as letras de nossas marchinhas <a href="#/menu/musicas"> ACESSANDO AQUI </a>
            </p>
        </div>
        <div>
          <h4>III - SPRAYS DE ESPUMA, GARRAFAS E COPOS DE VIDRO ESTÃO PROIBIDOS</h4>
            <p>
              Vamos evitar transtornos e confusões desnecessárias.
            </p>
        </div>
        <div>
          <h4>IV - NÃO CONFUNDA BRINCAR COM BRIGAR</h4>
            <p>
              Colabore para que nosso carnaval continue com a imagem familiar. Tenha como parceiro a alegria, o respeito e a paz.
            </p>
        </div>
        <div>
          <h4>V - COLABORE COM A LIMPEZA PÚBLICA</h4>
            <p>
              Lixo no lixo. A casa é sua também, trate-a com carinho.
            </p>
        </div>
        <div>
          <h4>VI - UTILIZE OS BANHEIROS PÚBLICOS DISTRIBUÍDOS PELA CIDADE</h4>
            <p>
              Nós, moradores, agradecemos. Chega de xixi nas varandas, entradas e paredes de casas. Você gostaria que fizessem isso na sua casa? Gostaria que seus familiares presenciassem atos obscenos? RESPEITO É BOM E TODO MUNDO MERECE!
            </p>
        </div>
        <div>
          <h4>VII - CUIDADOS COM O SEU CARRO</h4>
            <p>
              Não estacione em local proibido. Nossos blocos passam por varias ruas da cidade e seu carro parado em local impróprio, atrapalhará. Respeite as sinalizações.
            </p>
        </div>
        <div>
          <h4>VIII - CUIDE DO DESTINO DO SEU LIXO</h4>
            <p>
              Haverá coleta diariamente.
            </p>
        </div>
        <div>
          <h4>IX - CUIDADOS PESSOAIS</h4>
            <p>
              Serão 5 dias de folia, hidrate-se, aplique filtro solar e previna-se com camisinha, assim seu carnaval será muito mais legal.
            </p>
        </div>
        <div>
          <h4>X- A ÁGUA UTILIZADA NO CARNAVAL É COLETADA DA CHUVA</h4>
            <p>
              Não desperdice água potável
            </p>
        </div>
        <div>
          <h4>XI - DIVIRTA-SE</h4>
            <p>
              Sem moderação.
            </p>
        </div>
    </ion-content>
</ion-view>
