<ion-view title="Mapa do Circuito">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>

        <!-- <h1>Heading</h1>
        <div>
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div> -->
        <div class="list card">

          <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"
                zooming="true" min-zoom="1" style="width: 100%; height: 100%"
                delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)">

                <div class="image" style="background-image: url('img/mapa.jpg')"></div>

              </ion-scroll>


        </div>
        <div>
            <p>Arraste com os dedos para dar
                <strong>zoom</strong>
            </p>
        </div>
    </ion-content>
</ion-view>
