<ion-view class="has-header has-subheader mainMenu">
  <div class="bar bar-subheader">
    <div class="user">
      <img class="avatar" src="img/avatar.png" />
      <p class="title">
        oiê, giovana camargo!
      </p>
      <p class="subtitle">
        tire sua roupa esquecida do armário
      </p>
      <button class="button button-offer" ng-click="goNew()">oferecer peça</button>
    </div>
  </div>
  <ion-content class="has-header has-subheader"><ion-list><ion-item href="" menu-close="" ng-click="goSearch()"><img class="icon" src="img/iconSearch.png" /><span>filtrar</span></ion-item><ion-item href="" menu-close="" ng-click="goApparels()"><img class="icon" src="img/iconPencil.png" /><span>minhas peças</span></ion-item><ion-item href="#" menu-close=""><img class="icon" src="img/iconInfo.png" /><span>sobre</span></ion-item></ion-list></ion-content></ion-view>
