<ion-side-menus enable-menu-with-back-views="false"><ion-side-menu-content><ion-nav-bar class="bar-stable"><ion-nav-buttons side="left"><button class="button button-clear ion-navicon" menu-toggle="left"></button></ion-nav-buttons><ion-nav-title>
        <h1 class="title">
          <button class="button button-clear" ng-click="goMain()"><img class="logoButton" src="img/logoHeader.png" /></button>
        </h1>
      </ion-nav-title><ion-nav-buttons side="right"><button class="button button-clear" ng-click="goChats()"><img class="iconButton" src="img/iconChat.png" /></button></ion-nav-buttons></ion-nav-bar><ion-nav-view name="side-menu-content"></ion-nav-view></ion-side-menu-content><!--MENU CONTENT--><ion-side-menu side="left"><ion-header-bar class="bar-stable">
      <h1 class="title">
        Menu
      </h1>
    </ion-header-bar><ion-content><ion-list><ion-item href="#" menu-close="">filtrar</ion-item><ion-item href="" menu-close="" ng-click="goApparels()">minhas peças</ion-item><ion-item href="#" menu-close="">sobre</ion-item></ion-list></ion-content></ion-side-menu></ion-side-menus>
