<ion-view title="Musicas dos Blocos">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" href="#" onclick="window.open('http://nazare.com', '_system', 'location=yes'); return false;">
                <img>
                <h2>Musica 1</h2>
                <p>Letra da Musica 1</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#" onclick="window.open('http://nazare.com', '_system', 'location=yes'); return false;">
                <img>
                <h2>Musica 2</h2>
                <p>Letra da Musica 2</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#" onclick="window.open('http://nazare.com', '_system', 'location=yes'); return false;">
                <img>
                <h2>Musica N</h2>
                <p>Letra da Musica N</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>