<ion-view title="Pontos de Encontro">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-list>
      <ion-item>
        <h2><b>Praça da Matriz e Nossa Senhora de Nazaré.</b></h2>
        <h2>É aqui o ponto de encontro para a saída dos blocos.</h2>
        </h2>É nesta Praça que os jovens, as crianças, os adultos e os “jovens há mais tempo” se reúnem para saírem atrás do trio.</h2>
        <h2> Perto desta Praça há padaria e restaurante. </h2>
        </h2>
      </ion-item>
    </ion-list>
    <BR>
    <ion-list>
      <ion-item>
        <h2><b>Praça Álvaro Guião.</b></h2>
        <h2>É nesta Praça que o trio termina seu trajeto.</h2>
        <h2>Durante o dia haverá DJ para animação dos foliões e á noite haverá banda no palco.</h2>
        <h2>É aqui temos a Praça de Alimentação.</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
