<ion-view title="Pontos de Encontro">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" href="#" onclick="window.open('http://www.nazarepaulista.sp.gov.br/site/', '_system', 'location=yes'); return false;">
                <img>
                <h2>Ponto 1</h2>
                <p>Info do Ponto 1</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#" onclick="window.open('http://www.nazarepaulista.sp.gov.br/site/', '_system', 'location=yes'); return false;">
                <img>
                <h2>Ponto 2</h2>
                <p>Info do Ponto 2</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#" onclick="window.open('http://www.nazarepaulista.sp.gov.br/site/', '_system', 'location=yes'); return false;">
                <img>
                <h2>Ponto N</h2>
                <p>Info do Ponto N</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
