<ion-view title="Programação">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="header">
          <img src="img/carnaval_logo.png" width="100%">
      </div>
        <h1>05/02 Sexta-Feira</h1>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <div class="hour"> 19:00 </div>
                <h2>Abertura Oficial</h2>
                <h2><b>Local:</b> Praça de Eventos </h2>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <div class="hour"> 22:00 </div>
                <h2>Bloco 'Di Quarqué Jeito'</h2>
                <h2><b>Saída:</b> Pátio da Igreja </h2>
                <h2><b>Fantasia:</b> Di quarqué jeito </h2>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <div class="hour"> 00:00 </div>
                <h2>Bloco 'Pra nóis é pouco'</h2>
                <h2><b>Saída:</b> Pátio da Igreja </h2>
            </ion-item>
        </ion-list>
        <h1>06/02 Sábado</h1>
        <ion-list>
          <ion-item class="item-thumbnail-left">
              <div class="hour"> 15:00 </div>
              <h2>Bloco 'Os Nazarentos Junior'</h2>
              <h2><b>Saída:</b> Pátio da Igreja</h2>
              <h2><b>Fantasia:</b> Livre</h2>
          </ion-item>

          <ion-item class="item-thumbnail-left">
              <div class="hour"> 16:00 </div>
              <h2>Bloco 'Oreia Seca'</h2>
              <h2><b>Saída:</b> Pátio da Igreja</h2>
              <h2><b>Fantasia:</b> Livre</h2>
          </ion-item>

          <ion-item class="item-thumbnail-left">
              <div class="hour"> 20:00 </div>
              <h2>Bloco 'Bate Lata' Infantil</h2>
              <h2><b>Saída:</b> Pátio da Igreja</h2>
          </ion-item>

          <ion-item class="item-thumbnail-left">
              <div class="hour"> 22:00 </div>
              <h2>Bloco 'Impina Carroça'</h2>
              <h2><b>Saída:</b> Largo da Prefeitura </h2>
              <h2><b>Fantasia:</b> Personagens </h2>
          </ion-item>

          <ion-item class="item-thumbnail-left">
              <div class="hour"> 00:00 </div>
              <h2>Bloco 'Bastião Boi'</h2>
              <h2><b>Saída:</b> Pátio da Igreja</h2>
              <h2><b>Fantasia:</b> Botina e chapéu de palha</h2>
          </ion-item>
        </ion-list>

        <h1>07/02 Domingo</h1>
        <ion-list>
          <ion-item class="item-thumbnail-left">
              <div class="hour"> 12:00 </div>
              <h2>Bloco do 'Meio dia'</h2>
              <h2><b>Saída:</b> Pátio da Igreja</h2>
              <h2><b>Fantasia:</b> Pijama </h2>
          </ion-item>

          <ion-item class="item-thumbnail-left">
              <div class="hour"> 13:00 </div>
              <h2>Bloco 'Cuiabar'</h2>
              <h2><b>Saída:</b> Pátio da Igreja</h2>
          </ion-item>

          <ion-item class="item-thumbnail-left">
              <div class="hour"> 15:00 </div>
              <h2>Bloco 'Os Moiados'</h2>
              <h2><b>Saída:</b> Bar do João Turman</h2>
              <h2><b>Fantasia:</b> Biquini, sunga, maiô, roupão de banho.</h2>
          </ion-item>

          <ion-item class="item-thumbnail-left">
              <div class="hour"> 21:00 </div>
              <h2>Escola de Samba 'Unidos da última hora'</h2>
              <h2><b>Saída:</b> Largo da Prefeitura </h2>
          </ion-item>

          <ion-item class="item-thumbnail-left">
              <div class="hour"> 22:00 </div>
              <h2>Bloco 'Tamo Junto'</h2>
              <h2><b>Saída:</b> Pátio da Igreja</h2>
              <h2><b>Fantasia:</b> Com 'Paiaçada' e muita firula</h2>
          </ion-item>

          <ion-item class="item-thumbnail-left">
              <div class="hour"> 00:00 </div>
              <h2>Bloco 'Do Sinal' e 'Bloco Sobrahmus'</h2>
              <h2><b>Saída:</b> Pátio da Igreja</h2>
          </ion-item>
        </ion-list>

        <h1>08/02 Segunda-Feira</h1>
        <ion-list>
          <ion-item class="item-thumbnail-left">
              <div class="hour"> 17:00 </div>
              <h2>Bloco 'Zé Lovado'</h2>
              <h2><b>Saída:</b> Casa do Zé Lovado</h2>
          </ion-item>

          <ion-item class="item-thumbnail-left">
              <div class="hour"> 19:00 </div>
              <h2>Bloco 'Pankadas'</h2>
              <h2><b>Saída:</b> Pátio da Igreja</h2>
          </ion-item>

          <ion-item class="item-thumbnail-left">
              <div class="hour"> 22:00 </div>
              <h2>Bloco 'Bar do Bê'</h2>
              <h2><b>Saída:</b> Bar do Bê</h2>
              <h2><b>Fantasia:</b> Livre</h2>
          </ion-item>

          <ion-item class="item-thumbnail-left">
              <div class="hour"> 00:00 </div>
              <h2>Bloco 'Cê não guenta bebe leite'</h2>
              <h2><b>Saída:</b> Pátio da Igreja </h2>
          </ion-item>
        </ion-list>

        <h1>09/02 Terça-Feira</h1>
        <ion-list>
          <ion-item class="item-thumbnail-left">
              <div class="hour"> 15:00 </div>
              <h2>Bloco 'Os Moiados'</h2>
              <h2><b>Saída:</b> Bar do João Turman</h2>
              <h2><b>Fantasia: </b>Biquini, sunga, maiô, roupão de banho.</h2>
          </ion-item>

          <ion-item class="item-thumbnail-left">
              <div class="hour"> 22:00 </div>
              <h2>Bloco 'Musa de Nazaré'</h2>
              <h2><b>Saída:</b> Pátio da Igreja</h2>
              <h2><b>Fantasia: </b>Homem de mulher e mulher de homem.</h2>
          </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
