<ion-view title="Telefones Uteis">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item>
            <h2>PREFEITURA DE NAZARÉ PAULISTA</h2>
            <h2><a href="tel: +551145971526"> (11) 4597-1526 </a></h2>
          </ion-item>
            <ion-item>
            <h2>CARTÓRIO DE REGISTRO CIVIL</h2>
            <h2><a href="tel: +551145971319"> (11) 4597-1319 </a></h2>
          </ion-item>
          <ion-item>
            <h2>DELEGACIA </h2>
            <h2><a href="tel: +551145971232 "> (11) 4597-1232 </a></h2>
          </ion-item>
          <ion-item>
            <h2>FÓRUM </h2>
            <h2><a href="tel: +551145973576 "> (11) 4597-3576 </a></h2>
          </ion-item>
          <ion-item>
            <h2>HOSPITAL / EMERGÊNCIA - SAMU</h2>
            <h2><a href="tel: 192 ">192 </a></h2>
            <h2><a href="tel: +551145971588 ">(11) 4597-1588 </a></h2>
          </ion-item>
          <ion-item>
            <h2>POLÍCIA CIVIL </h2>
            <h2><a href="tel: +551145971232 ">(11) 4597-1232  </a></h2>
          </ion-item>
          <ion-item>
            <h2>POLÍCIA MILITAR</h2>
            <h2><a href="tel: 190 "> 190 </a></h2>
            <h2><a href="tel: +551145971250 "> (11)  4597-1250 </a></h2>
          </ion-item>
          <ion-item>
            <h2>RODOVIÁRIA DE ATIBAIA</h2>
            <h2><a href="tel: +551144184766 ">(11) 4418-4766 </a></h2>
          </ion-item>
          <ion-item>
            <h2>ROTA DAS BANDEIRAS</h2>
            <h2><a href="tel: 0800-770-8070 ">0800-770-8070</a></h2>
          </ion-item>
          <ion-item>
            <h2>Farmácia de Plantão: Drogaria São Judas (Praça de eventos) </h2>
            <h2><a href="tel: +551145971003 ">(11) 4597-1003</a></h2>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
