<ion-view title="Trânsito">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h1>Veja como será</h1>
        <div>
            <p>Texto..
                <strong>markdown</strong>
            </p>
        </div>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>
