<ion-view title="Trânsito">
<ion-content overflow-scroll="true" padding="true" class="has-header">
<!-- <div id="map" data-tap-disabled="true"></div> -->
<div>
  <p>
    Para a melhoria do trânsito, nos dias de carnaval, algumas medidas foram tomadas:
  </p>
  <p>
    Haverá estacionamento pago na entrada da cidade, no Recinto de Exposições, e haverá ônibus, também pago, que transportarão os foliões de lá até o centro da cidade.
  </p>
  <p>
    Será permitido parar no centro da cidade, mas algumas ruas sofrerão mudanças para melhor organização do trânsito e segurança.
  </p>
  <p>
    Durante os dias do carnaval só será permitido entrar na cidade pela Rodoviária (Rua Juvenal Ponciano de Camargo) e sair pela Rua João de Passos.
  </p>
  <p>
    A rua Cel Benedito Bueno será mão única desde a Rodoviária até o Posto de Saúde, bem como a rua Maria Tereza da Conceição e a Rua João de Passos, também serão mão única.
  </p>
  <p>
    Em algumas ruas serão expressamente proibido parar e em algumas somente do lado direito, tudo isto para garantir a segurança de todos os foliões.
  </p>
  <p>
    Nos anos anteriores tivemos muitos problemas com carros que insistiram em estacionar em locais proibidos. Vale ressaltar que o trio elétrico não consegue passar quando há carros nesses locais. Além, é claro, dos foliões que sempre sofrem com os carros parados.
  </p>
  <p>
    Fiquem atentos as faixas informativas do transito e locais permitidos para estacionarem o carro.
  </p>

</div>
</ion-content>
</ion-view>
