#apparel-result {

  .info {
    color: $text-color;
    margin-top: 10px;

    h1.title {
      padding: 0px 5px;
      text-align:center;
      width: 100%;
      font-size: 20px;
      color: darken($text-color,20%);
    }
    ul.extra-info {
      padding: 0px 5px;
      display: block;
      width: auto;
      text-align: center;
      list-style-type: none;

      li {
        display: inline-block;
        &:after {
          content: "|";
          padding-left: 5px;
        }

        &:last-child:after {
          content: "";
        }
      }
    }
    ul.tags {
      padding: 0px 5px;
      display: block;
      width: auto;
      text-align: center;
      list-style-type: none;
      
      &:before {
        margin-top: 10px;
        margin-bottom: 10px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 2em;
        content: "\f107";
        display: block;
      }

      li {
        display: inline-block;
        padding-right: 5px;
        &:last-child {
          padding-right: 0px;
        }
      }
    }
    .description {
      margin: 30px 0px;
      padding: 30px 20px;
      width: 100%;
      border-top: solid 1px $standard-content-border;
      border-bottom: solid 1px $standard-content-border;
      text-align: center;
      font-size: 16px;
      color: darken($text-color,20%);
    }
    .kind-hearted {
      padding: 0px 5px;
      width: 100%;
      text-align: center;
      margin-bottom: 30px;

      .name {
        text-align: center;
        font-size: 20px;
        color: darken($text-color,20%);
      }
      .distance {
        text-align: center;
      }
    }
  }

  .lower-bar {
    background-color: white;
  }
}

#rate {
  &.button-bar {
    text-align:center;
    height:100%;
    display:block;
    padding-top: 10px;
    padding-bottom: 0px;
    border-top: solid 1px $standard-content-border;
    a {
      display: inline-block;
      width:auto;
      height:auto;
      position: relative;;
      background-color: #fff;
      margin-left: 10px;
      margin-right: 10px;

      .back {
        color: $standard-content-border;
        text-shadow: 1px 1px 1px #818181;
      }
      .front {
      }

      &:hover {
        cursor: pointer;
      }
    }
    .dislike {
      color: #f46554;
      text-shadow: lighten(#f46554, 15%);
      .front {
        font-size: 0.9em !important;
        left: 1px;
      }
    }
    .like {
      color: $button-default-border;
      text-shadow: lighten($button-default-border, 15%);
      .front {
        font-size: 0.8em !important;
        left: 1px;
      }
    }
  }
}