/* GENERAL ********************************************************* */
/* ***************************************************************** */
* {
  font-family:'Nunito',Sans-Serif !important;
  font-weight:300;
}

.row {
  padding:0;
}

/* HEADER ********************************************************** */
/* ***************************************************************** */
.title {

  .button {
    display:block;
    margin:5px auto 0 auto;

    .logoButton {
      display:block;
      height:27px;
      width:auto;
    }
  }
}

.button {
  border:none;

  .iconButton {
    display:block;
    height:25px;
    width:auto;
  }
}

a.button {

  .iconButton {
    display:inline-block;
    vertical-align:middle;
  }
}

/* FOOTER ********************************************************** */
/* ***************************************************************** */
.bar.bar-footer {
  margin:0;
  padding:0;
}

.bar-footer {
  height:85px;
}

.has-footer {
  bottom:85px;
}

ion-footer-bar {

  form {
    width:100%;
  }
}

/* SPLASH ********************************************************** */
/* ***************************************************************** */
.splash {
  background-color:#37b2c3;
  background-image:url("../img/bgSplash.jpg");
  background-size:cover;

  .logo {
    height:30%;
    white-space:nowrap;
    text-align:center;

    &:before {
      content:"";
      display:inline-block;
      height:100%;
      vertical-align:middle;
    }

    img {
      vertical-align:bottom;
      margin:0 auto 0 auto;
      width:118px;
      height:auto;
    }
  }

  .slogan {
    height:40%;
    text-align:center;
    vertical-align:middle;
    display:table;
    width:100%;

    p {
      color:#fff;
      display:block;
      font-size:20px;
      font-weight:700;
      margin:0 auto 0 auto;
      text-align:center;
      vertical-align:middle;
      display:table-cell;
      padding-right:20%;
      padding-left:20%;
      width:50%;
    }
  }

  .action {
    height:30%;
    white-space:nowrap;
    text-align:center;

    &:before {
      content:"";
      display:inline-block;
      height:100%;
      vertical-align:middle;
    }

    .button-facebook {
      background-color:#0062f2;
      color:#fff;
      margin:0 10% 0 10%;
      padding:3% 0;
      border-radius:40px;
      font-weight:700;
      width:80%;
      text-align:center;
      vertical-align:middle;
      box-shadow:0px 5px #004AB5;
      border:0;
    }
  }
}

/* MAIN MENU ******************************************************* */
/* ***************************************************************** */
.mainMenu {

  .user {
    background:#0772ef;
    background:-moz-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0772ef),color-stop(50%,#1fabe4),color-stop(100%,#37e4d9));
    background:-webkit-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-o-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-ms-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:linear-gradient(to bottom,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    display:block;
    height:275px;
    max-height:275px;
    padding-top:20px;

    p.title {
      color:#fff;
      font-size:16px;
      font-weight:700;
      margin-bottom:4px;
    }

    p.subtitle {
      color:#fff;
      font-size:14px;
    }

    .button-offer {
      background-color:#0062f2;
      color:#fff;
      margin:10% 10% 10% 10%;
      padding:3% 0;
      border-radius:40px;
      font-weight:700;
      width:80%;
      box-shadow:0px 5px #004AB5;
      border:0;
    }
  }

  img.avatar {
    border:2px solid #3df2d6;
    border-radius:20px;
    margin:0 auto 20px auto;
    display:block;
    max-width:40px;
    max-height:40px;
  }

  p {
    text-align:center;
  }

  .item {
    border-color:#ececec;
    padding:10px 0;

    span {
      padding-left:38px;
      font-weight:700;
    }
  }

  img.icon {
    width:30px;
    height:30px;
    margin:10px 0 0 30px;
  }
}

/* REGISTER CLOTHES ************************************************ */
/* ***************************************************************** */
.registerClothes {

  .user-header {
    background:#0772ef;
    background:-moz-linear-gradient(right,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-webkit-gradient(linear,top right,top left,color-stop(0%,#0772ef),color-stop(50%,#1fabe4),color-stop(100%,#37e4d9));
    background:-webkit-linear-gradient(right,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-o-linear-gradient(right,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-ms-linear-gradient(right,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:linear-gradient(to left,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);

    h2 {
      color:#fff;
    }

    p {
      color:#fff;
    }
  }

  .list {
    margin-bottom:0;
  }

  img.avatar {
    border:2px solid #3df2d6;
  }

  .clothesImage {
    background-color:#ccc;
    border-bottom:8px solid #3df2d6;
    width:100%;
  }

  span.input-label {
    color:#b3b3b3;
    font-size:12px;
  }

  input {
    font-size:13px;

    &::-webkit-input-placeholder {
      color:#ccc;
    }

    &:-moz-placeholder {
      color:#ccc;
    }

    &::-moz-placeholder {
      color:#ccc;
    }

    &:-ms-input-placeholder {
      color:#ccc;
    }
  }

  input.placeholder {
    color:#ccc;
  }

  &::-webkit-input-placeholder {
    color:#333;
  }

  &:-moz-placeholder {
    color:#333;
  }

  &::-moz-placeholder {
    color:#333;
  }

  &:-ms-input-placeholder {
    color:#333;
  }

  .item-radio {
    * {
      border:none !important;
    }

    span {
      font-size:12px;
    }

    .item-content {
      padding:5px;
      white-space:normal;
    }

    .radio-icon {
      padding:0 5px;
    }
  }

  .buttonBar {
    background-color:#f0fcfb;

    .button-cancel {
      background-color:#f46554;
      color:#fff;
      margin:5%;
      padding:3% 0;
      border-radius:40px;
      font-weight:700;
      width:90%;
      box-shadow:0px 5px #b74c3f;
      border:0;
    }

    .button-offer {
      background-color:#0062f2;
      color:#fff;
      margin:5%;
      padding:3% 0;
      border-radius:40px;
      font-weight:700;
      width:90%;
      box-shadow:0px 5px #004ab5;
      border:0;
    }
  }
}

/* SEARCH MATCH **************************************************** */
/* ***************************************************************** */
.searchMatch {

  .list {
    margin-bottom:0;
  }

  .clothesImage {
    background-color:#ccc;
    border-bottom:8px solid #3df2d6;
  }

  .swiper-pagination-bullet {
    background:#ededed;
    opacity:1;
  }

  .swiper-pagination-bullet-active {
    background:#3df2d6;
  }

  p {
    text-align:center;
  }

  p.title {
    font-size:16px;
    font-weight:700;
  }

  p.details {
    font-size:12px;
  }

  p.hashtags {
    font-size:12px;
  }

  p.description {
    font-size:12px;
    font-weight:700;
  }

  img.avatar {
    border:2px solid #3df2d6;
    border-radius:20px;
    margin:0 auto 15px auto;
    display:block;
    max-width:40px;
    max-height:40px;
  }

  p.ownerName {
    font-weight:700;
  }

  p.ownerDistance {
    font-size:12px;
  }

  .buttonBar {
    background-color:#f0fcfb;
    padding:0 25%;

    .button-dislike {
      background-color:#fff;
      color:#f46554;
      margin:5% auto;
      padding:0;
      border-radius:40px;
      border:5px solid #ddd;
      height:70px;
      width:70px;
      box-shadow:0px 2px #ccc;
      border:0;
    }

    .button-like {
      background-color:#fff;
      color:#0062f2;
      margin:5% auto;
      padding:0;
      border-radius:40px;
      border:5px solid #ddd;
      height:70px;
      width:70px;
      box-shadow:0px 2px #ccc;
      border:0;
    }

    img {
      width:60%;
      margin-top:20%;
    }
  }
}

/* LOADING ********************************************************* */
/* ***************************************************************** */
.loading {
  background-color:#0062f2;

  div.logo {

    img {
      display:block;
      margin:40% auto 0 auto;
      width:118px;
      height:auto;
    }
  }

  p.loadingText {
    color:#fff;
    display:block;
    font-size:20px;
    font-weight:700;
    margin:50% auto 0 auto;
    text-align:center;
  }
}

.loading-container {

  .loading {
    background-color:rgba(0,98,242,0.7);
  }
}

/* MATCHED ********************************************************* */
/* ***************************************************************** */
.matched {
  background-color:#37b2c3;
  background-image:url("../img/bgMatched.jpg");
  background-size:cover;

  .title {
    vertical-align:middle;
    text-align:center;
    display:table;
    height:20%;
    width:100%;

    h1 {
      color:#fff;
      font-family:'Kaushan Script',Sans-Serif !important;
      font-size:70px;
      text-align:center;
      vertical-align:middle;
      margin:auto 0;
      height:auto;
      display:block;
      padding-top:0.3em;
      margin-left:-15px;
      letter-spacing:-3px;
    }
  }

  img.avatar {
    border:2px solid #3df2d6;
    border-radius:30px;
    margin:0 auto 8px auto;
    display:block;
    max-width:60px;
    max-height:60px;
  }

  .users {

    p {
      color:#fff;
      display:block;
      font-weight:700;
      text-align:center;
      margin:0;
    }
  }

  .matchCards {

    .item {
      padding:9px;
    }

    img {
      width:100%;
      height:150px;
    }

    p {
      text-align:center;
    }
  }

  .button-change {
    background-color:#0062f2;
    color:#fff;
    margin:5%;
    padding:3% 0;
    border-radius:40px;
    font-weight:700;
    width:90%;
    box-shadow:0px 5px #004ab5;
  }

  .buttonBar {
    height:30%;
    max-height:30%;
    display:table;
    vertical-align:middle;
    text-align:center;

    .col {
      width:50%;
      height:auto;
      display:table-cell;
      text-align:center;
      vertical-align:middle;

      button {
        color:#fff;
        margin:10% 5%;
        padding:3% 0;
        border-radius:40px;
        font-weight:700;
        width:90%;
        font-size:0.9em;
      }
    }

    .button-continue {
      background-color:#f46554;
      box-shadow:0px 5px #b74c3f;
      border:0;
    }

    .button-change {
      background-color:#0062f2;
      box-shadow:0px 5px #004ab5;
      border:0;
    }
  }
}

/* ALERT *********************************************************** */
/* ***************************************************************** */
.alert {

  .title {
    background:#0772ef;
    background:-moz-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0772ef),color-stop(50%,#1fabe4),color-stop(100%,#37e4d9));
    background:-webkit-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-o-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-ms-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:linear-gradient(to bottom,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    display: block;
    height: 40%;
    min-height: 40%;
    h1 {
      color:#fff;
      font-family:'Kaushan Script',Sans-Serif !important;
      font-size:70px;
      text-align:center;
      vertical-align: middle;
      top: 27%;
      position: relative;
    }
  }

  p {
    text-align:center;
  }

  p.subtitle {
    font-size:16px;
    font-weight:500;
    display:block;
    margin: 16% auto 0 auto;
    width: 60%;
  }

  p.info {
    display:block;
    margin: 0 auto 16% auto;
    width:60%;
  }

  .button-click {
    background-color:#0062f2;
    color:#fff;
    margin:0 10%;
    padding:3% 0;
    border-radius:40px;
    font-weight:700;
    width:80%;
    box-shadow:0px 5px #004ab5;
    border:0;
  }
}

/* MY CLOTHES ****************************************************** */
/* ***************************************************************** */
.myClothes {
  background-color:#f0fcfb;

  .bar-subheader {
    background:#0772ef;
    background:-moz-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0772ef),color-stop(50%,#1fabe4),color-stop(100%,#37e4d9));
    background:-webkit-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-o-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-ms-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:linear-gradient(to bottom,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    display:block;
    height:120px;
    max-height:120px;
    padding-top:20px;
  }

  .has-subheader {
    top:165px;
  }

  .sheader {

    img.avatar {
      border:2px solid #3df2d6;
      border-radius:20px;
      margin:0 auto 20px auto;
      display:block;
      max-width:40px;
      max-height:40px;
    }

    p.title {
      color:#fff;
      font-size:16px;
      font-weight:700;
      text-align:center;
      margin-top:65px;
    }
  }

  .item {
    border:none;
    border-bottom:6px solid #3df2d6;
    padding:10px;

    p {
      text-align:center;
    }

    p.title {
      font-size:16px;
      font-weight:700;
      margin-bottom:0;
    }

    .options {
      margin-top:10px;

      img {
        display:block;
        margin:0 auto;
        width:20px;
        height:20px;
      }
    }
  }
}

/* USERS *********************************************************** */
/* ***************************************************************** */
.users {

  .thumb {
    border:2px solid #3df2d6;
  }

  p.active {
    color:#0062f2;
    font-weight:700;
  }

  .item-note {
    position:absolute;
    top:16px;
    right:32px;
  }

  .item-note.active {
    color:#0062f2;
    position:absolute;
    top:14px;
    right:32px;
  }

  .badge {
    position:absolute;
    top:38px;
    right:32px;
    font-weight:300;
  }
}

/* CHAT ************************************************************ */
/* ***************************************************************** */
.chat {

  .bar-subheader {
    background:#0772ef;
    background:-moz-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0772ef),color-stop(50%,#1fabe4),color-stop(100%,#37e4d9));
    background:-webkit-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-o-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-ms-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:linear-gradient(to bottom,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    display:block;
    height:80px;
    min-height:80px;
  }

  .has-subheader {
    top:114px;
  }

  .has-footer {
    bottom:54px !important;
  }

  .chatHeader {
    display:block;

    .left {

      img {
        float:left;
        max-width:50px;
        max-height:50px;
        width:100%;
        height:100%;
        border-radius:50%;
        margin-left:10px;
        margin-top:10px;
      }
    }

    .right {
      float:right;

      a.matchLink {
        text-decoration:none;

        img {
          display:block;
          max-width:30px;
          max-height:30px;
          width:100%;
          height:100%;
          border-radius:50%;
          margin:10px auto 5px auto;
        }

        .matchLinkText {
          color:#fff;
          max-width:75px;
          font-size:10px;
          font-weight:700;
          text-align:center;
          line-height:130%;
          text-decoration:none;
        }
      }
    }
  }

  img.avatar {
    border:2px solid #3df2d6;
  }

  h2 {
    color:#fff !important;
    font-size:16px;
    font-weight:500;
    margin:25px 0 0 70px;
  }

  .message {
    border-radius:5px;
    margin-bottom:10px;
    padding-bottom:2px;

    &:first-child {
      margin-top:10px;
    }

    &:first-child.meSpeak {
      border-top-left-radius:0;
    }

    &:first-child.youSpeak {
      border-top-right-radius:0;
    }

    &:not(:first-child).meSpeak {
      + {
        .message.youSpeak {
          margin-top:10px;
          border-top-left-radius:0;
        }
      }
    }

    &:not(:first-child).youSpeak {
      + {
        .message.meSpeak {
          margin-top:10px;
          border-top-right-radius:0;
        }
      }
    }
  }

  .message.meSpeak {
    background:#ededed;
    text-align:left;
    padding-left:4px;
  }

  .message.youSpeak {
    background:#3df2d6;
    padding-right:4px;
    text-align:right;
  }

  .bar-footer {
    height:54px !important;
  }

  .sendMessageBox {
    min-width:100%;

    .item {
      background-color:#f0fcfb;
      border:0;

      label {
        background-color:#fff;
      }

      input {
        background-color:#fff;
        width:100%;
      }

      a {
        color:#0062f2;
      }
    }
  }
}

.bar-stable {

  .button.button-clear {
    color:#0066ff;
    font-size:36px;
  }
}

/* SEARCH ********************************************************** */
/* ***************************************************************** */
.search {

  .bar-subheader {
    background:#0772ef;
    background:-moz-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0772ef),color-stop(50%,#1fabe4),color-stop(100%,#37e4d9));
    background:-webkit-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-o-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:-ms-linear-gradient(top,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    background:linear-gradient(to bottom,#0772ef 0%,#1fabe4 50%,#37e4d9 100%);
    display:block;
    height:120px;
    max-height:120px;
    padding-top:20px;
  }

  .has-subheader {
    top:165px;
  }

  .sheader {

    img.icon {
      background:#3df2d6;
      border:12px solid #3df2d6;
      border-radius:25px;
      margin:0 auto 20px auto;
      display:block;
      max-width:50px;
      max-height:50px;
    }

    p.title {
      color:#fff;
      font-size:16px;
      font-weight:700;
      text-align:center;
      margin-top:70px;
    }
  }

  span.input-label {
    color:#b3b3b3;
    font-size:12px;
  }

  input {
    color:#ccc;
    font-size:13px;
  }

  &::-webkit-input-placeholder {
    color:#333;
  }

  &:-moz-placeholder {
    color:#333;
  }

  &::-moz-placeholder {
    color:#333;
  }

  &:-ms-input-placeholder {
    color:#333;
  }

  .item-radio {

    * {
      border:none !important;
    }

    span {
      font-size:12px;
    }

    .item-content {
      padding:5px;
      white-space:normal;
    }

    .radio-icon {
      padding:0 5px;
    }
  }

  .buttonBar {
    background-color:#f0fcfb;

    .button-cancel {
      background-color:#f46554;
      color:#fff;
      margin:5%;
      padding:3% 0;
      border-radius:40px;
      font-weight:700;
      width:90%;
      box-shadow:0px 5px #b74c3f;
    }

    .button-filter {
      background-color:#0062f2;
      color:#fff;
      margin:5%;
      padding:3% 0;
      border-radius:40px;
      font-weight:700;
      width:90%;
      box-shadow: 0px 5px #004ab5;
    }

    .btnTeste { }
  }
}