/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

$main-bg-color: #0062F2;
$base-color: #0062F2;
$dark:       darken($base-color, 10%);
$button-default-border: darken($base-color, 5%);
$standard-content-border: #e1e1e1;

$button-dark-active-bg:           $base-color;
$button-dark-bg: $base-color;
$button-dark-border: $dark;

$item-default-bg: #fff;
$item-default-border: $dark;

$menu-bg: $base-color;
$text-color: #acacac;
$button-text-color: #fff;

$input-color: #111;
$input-color-placeholder: lighten($input-color, 10%);
$input-label-color: darken($text-color,20%);

$font-family-sans-serif:          "Roboto", "Helvetica Neue", "Segoe UI", sans-serif !default;
$font-family-light-sans-serif:    "Roboto-Light", "HelveticaNeue-Light", "Segoe UI-Light", sans-serif-light !default;
$font-family-serif:               serif !default;
$font-family-monospace:           monospace !default;

$font-family-base:                $font-family-sans-serif !default;

$main-highlight-color: #6bf5e0;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "www/lib/font-awesome/scss/font-awesome";

@import "slider";
@import "apparel";
@import "apparel_form";

.item {
  p {
    color: $text-color;
  }
  &.item-input {
    padding: 20px;
    border-width: 0px;
    border-bottom-color: $standard-content-border;
    border-bottom-width: 1px;

    select {
      background-color: transparent;
    }

  }
}

.button {
  color: $button-text-color;
  background-color: $base-color;
}

.has-header {
  top: 60px;
}

ion-nav-bar {
  background-color: none;
  border: none;
  .bar-header {
    border: none;
  }
  ion-header-bar {
    border: none;
    height: 60px !important;
    padding: 12px 20px !important;
  }
}

ion-nav-view {
  color: $text-color;
  // .has-header {
  //   top:0px !important;
  // }
  ion-view {
    &.pane {
      background-color: transparent;
    }
  }
}

  .scroll {
      height: 100%;
  }

.item{
  color: $text-color;

  h2{
  white-space: normal;
  }

  a{
  color: $text-color;
  text-decoration: none;
  }
}

.no-lower-bar {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0px;
  z-index: 8;
}

.with-lower-bar {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 100px;
  z-index: 8;
}

.main {
  width:100%;
  &.slider {
    border-bottom: solid 3px #6bf5e0;
  }

  .container, .slider-slide {
    overflow:hidden;
    display: block;
  }
}
  
img.main {
  width:100%;
  height: 100%;
}

.lower-bar {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0px;
  z-index: 9;
  height: 100px;
  width:100%;
}

.button-bar {
  height: 100px;
  display:block;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid 1px $standard-content-border;
}

#main-actions {
  background-color: #eefdfb;
  &.two-buttons {
    a {
      width: 40%;
    }    
  }

  a {
    display: inline-block;
    width: auto;
    height:100%;
    position: relative;;
    margin-left: 10px;
    margin-right: 10px;
    background-color: $base-color;
    color:white;
    text-transform: lowercase;
    border-radius: 30px;
    box-shadow:1px 1px 1px #414141;

    &:before {
        content:'';
        height:100%;
        display:inline-block;
        vertical-align: middle;
    }

    .back {
      color: $standard-content-border;
      text-shadow: 1px 1px 1px #818181;
    }
    .front {
    }

    &.cancel {
      background-color: $main-highlight-color;
      .front {
        font-size: 0.9em !important;
        left: 1px;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  display:block;
  position: relative;
  width: 100%;
  min-height: 400px;
  height: auto;
  canvas{
    // margin: 0!important;
    // top: 0%;
    // left: 0%;
  }
}

.modal {
  .bar-footer {
    .button.button-block, .button.button-full {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
}