/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

$main-bg-color: #0062F2;
$base-color: #0062F2;
$dark:       darken($base-color, 10%);
$button-default-border: darken($base-color, 5%);
$standard-content-border: #e1e1e1;

$button-dark-active-bg:           $base-color;
$button-dark-bg: $base-color;
$button-dark-border: $dark;

$item-default-bg: #fff;
$item-default-border: $dark;

$menu-bg: $base-color;
$text-color: #acacac;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "www/lib/font-awesome/scss/font-awesome";

.item {
  p {
    color: $text-color;
  }
}

.button {
  color: $base-color;
  background-color: $base-color;
}

ion-nav-bar {
  background-color: none;
  border: none;
  .bar-header {
    border: none;
  }
  ion-header-bar {
    border: none;
    height: 60px !important;
    padding: 12px 20px !important;
  }
}

ion-nav-view {
  .has-header {
    top:0px !important;
  }
  ion-view {
    &.pane {
      background-color: transparent;
    }
  }
}

  .scroll {
      height: 100%;
  }

.item{
  color: $text-color;

  h2{
  white-space: normal;
  }

  a{
  color: $text-color;
  text-decoration: none;
  }
}

.with-lower-bar {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 100px;
  z-index: 8;
}

.lower-bar {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0px;
  background-color: white;
  z-index: 9;
  height: 100px;
  width:100%
}

#apparel-result {

  img.main {
    width:100%;
    height:auto;
    border-bottom: solid 5px #6bf5e0;
  }
  .info {
    color: $text-color;

    h1.title {
      padding: 0px 5px;
      text-align:center;
      width: 100%;
      font-size: 20px;
      color: darken($text-color,20%);
    }
    ul.extra-info {
      padding: 0px 5px;
      display: block;
      width: auto;
      text-align: center;
      list-style-type: none;

      li {
        display: inline-block;
        &:after {
          content: "|";
        }

        &:last-child:after {
          content: "";
        }
      }
    }
    ul.tags {
      padding: 0px 5px;
      display: block;
      width: auto;
      text-align: center;
      list-style-type: none;
      
      &:before {
        margin-top: 10px;
        margin-bottom: 10px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 2em;
        content: "\f107";
        display: block;
      }

      li {
        display: inline-block;
      }
    }
    .description {
      margin: 30px 0px;
      padding: 30px 20px;
      width: 100%;
      border-top: solid 1px $standard-content-border;
      border-bottom: solid 1px $standard-content-border;
      text-align: center;
      font-size: 16px;
      color: darken($text-color,20%);
    }
    .kind-hearted {
      padding: 0px 5px;
      width: 100%;
      text-align: center;

      .name {
        text-align: center;
        font-size: 20px;
        color: darken($text-color,20%);
      }
      .distance {
        text-align: center;
      }
    }
  }
}

#rate {
  &.button-bar {
    text-align:center;
    height:100%;
    display:block;
    padding-top: 10px;
    border-top: solid 1px $standard-content-border;
    a {
      display: inline-block;
      width:auto;
      height:auto;
      position: relative;;
      background-color: #fff;
      margin-left: 10px;
      margin-right: 10px;

      .back {
        color: $standard-content-border;
        text-shadow: 1px 1px 1px #818181;
      }
      .front {
      }
    }
    .dislike {
      color: #f46554;
      text-shadow: lighten(#f46554, 15%);
      .front {
        font-size: 0.9em !important;
        left: 1px;
      }
    }
    .like {
      color: $button-default-border;
      text-shadow: lighten($button-default-border, 15%);
      .front {
        font-size: 0.8em !important;
        left: 1px;
      }
    }
  }
}