/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
$fa-font-path:  "../lib/font-awesome/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "www/lib/font-awesome/scss/font-awesome";

@import "apparel_form";

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  display:block;
  position: relative;
  width: 100%;
  min-height: 400px;
  height: auto;
  canvas{
    // margin: 0!important;
    // top: 0%;
    // left: 0%;
  }
}

.modal {
  .bar-footer {
    .button.button-block, .button.button-full {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
}

.fa {
  &:before {
    font: normal normal normal #{$fa-font-size-base}/#{$fa-line-height-base} FontAwesome;
  }
}