ion-view.registerClothes
  /! CONTENT
  ion-content.has-header
    form ng-submit="submit()"
      .list
        div ng-include="'templates/apparels/_form.html'"

        /! FOOTER
        .row.buttonBar
          .col
            button.button.button-cancel ng-click="cancel()"
              | {{ t('shared.buttons.cancel') }}
          .col
            button.button.button-offer type="submit"
              | {{ t('shared.buttons.update') }}
