<div class="report">
  <div class="row">
    <div class="input-col">
      <input id="not_apparel_reason" name="reason" ng-model="report_entry.reason" type="radio" value="not_apparel" /><label for="not_apparel_reason">{{ t('report.reason.not_apparel') }}</label>
    </div>
  </div>
  <div class="row">
    <div class="input-col">
      <input id="offensive_reason" name="reason" ng-model="report_entry.reason" type="radio" value="offensive" /><label for="offensive_reason">{{ t('report.reason.offensive') }}</label>
    </div>
  </div>
  <div class="row">
    <div class="input-col">
      <input id="spam_reason" name="reason" ng-model="report_entry.reason" type="radio" value="spam" /><label for="spam_reason">{{ t('report.reason.spam') }} </label>
    </div>
  </div>
  <div class="row">
    <div class="input-col">
      <input id="other_reason" name="reason" ng-model="report_entry.reason" type="radio" value="other" /><label for="other_reason">{{ t('report.reason.other') }} </label>
    </div>
  </div>
</div>
