<ion-view class="alert" has-header="false"><!--CONTENT--><ion-content class="notfound" has-header="false" scroll="false">
    <div class="title">
      <h1 ng-bind="title || t(&#39;match_not_found.default.title&#39;)"></h1>
    </div>
    <p class="subtitle" ng-bind="subtitle || t(&#39;match_not_found.default.subtitle&#39;)"></p>
    <p class="info" ng-bind="info || t(&#39;match_not_found.default.info&#39;)"></p>
    <div class="row buttonBar">
      <div class="col">
        <button class="button button-continue" ng-bind="action_1_text || t(&#39;match_not_found.buttons.action_1_text&#39;)" ng-click="action1()"></button>
      </div>
      <div class="col">
        <button class="button button-change" ng-bind="action_2_text || t(&#39;match_not_found.buttons.action_2_text&#39;)" ng-click="action2()"></button>
      </div>
    </div>
  </ion-content></ion-view>
