ion-view.matched
  /! CONTENT
  ion-content scroll="false" 
    .title
      h1
        | {{ t('chat_detail.title') }}

    .row
      .col.col-50
        img.avatar ng-src="{{ (user | userImageSrc ) || 'img/avatar.png' }}"

      .col.col-50
        img.avatar ng-src="{{ (chat.other_user | userImageSrc ) || 'img/avatar.png' }}"

    .row.users
      .col.col-50
        p 
          | {{ t('shared.you') }}
        p 
          | {{ t('chat_detail.liked.you') }}

      .col.col-50
        p ng-bind="chat.other_user | shortName"
        p 
          | {{ t('chat_detail.liked.other') }}

    .row.matchCards
      .col.col-50
        .list
          ks-swiper-container initial-slide="0" loop="chat.other_user_apparels.length > 1" override-parameters=("{paginationHide: false}") pagination-clickable="true" show-nav-buttons="false" slides-per-view="1" space-between="0" speed="2000" pagination-is-active="chat.other_user_apparels.length > 1" 
            ks-swiper-slide.swiper-slide ng-repeat="apparel in chat.other_user_apparels"
              ion-item
                img ng-src="{{ apparel.main_image.file | imageSrc }}" width="100%"
                p ng-bind="apparel.title"
                p
                  span ng-bind="apparel.size_info"
                  span ng-if="apparel.hasGender()"  | 
                  span ng-bind="apparel.gender | genderName"
                  span ng-if="apparel.hasAgeInfo()"  | 
                  span ng-bind="apparel.age_info | ageInfoName"
            ks-swiper-slide.swiper-slide ng-if="chat.other_user_apparels.length == 0"
              ion-item
                img src="img/no-images.png" width="100%"

      .col.col-50
        .list
          ks-swiper-container initial-slide="0" loop="chat.owned_apparels.length > 1" override-parameters=("{paginationHide: false}") pagination-clickable="true" show-nav-buttons="false" slides-per-view="1" space-between="0" speed="2000" pagination-is-active="chat.owned_apparels.length > 1" 
            ks-swiper-slide.swiper-slide ng-repeat="apparel in chat.owned_apparels"
              ion-item
                img ng-src="{{ apparel.main_image.file | imageSrc }}" width="100%"
                p ng-bind="apparel.title"
                p
                  span ng-bind="apparel.size_info"
                  span ng-if="apparel.hasGender()"  | 
                  span ng-if="apparel.hasGender()" ng-bind="apparel.gender | genderName"
                  span ng-if="apparel.hasAgeInfo()"  | 
                  span ng-if="apparel.hasAgeInfo()" ng-bind="apparel.age_info | ageInfoName"
            ks-swiper-slide.swiper-slide ng-if="chat.owned_apparels.length == 0"
              ion-item
                img src="img/no-images.png" width="100%"

    .row.buttonBar

      /! IMPLEMENTAR ESSA OPÇÃO TAMBEM
      button.button.button-change ng-click="close()"
        | {{t('chat_detail.butons.back')}}