<ion-view class="users"><ion-content>
    <div class="list" ng-if="chats">
      <ion-refresher on-refresh="onForceRefresh()" pulling-text="{{t(&#39;chats.pulling_text&#39;)}}"></ion-refresher><a class="item item-avatar" href="" ng-click="open(chat)" ng-init="last_message=chat.getLastMessage();" ng-repeat="chat in chats"><img class="thumb" ng-src="{{(chat.other_user | userImageSrc) || &#39;img/avatar.png&#39;}}" />
        <h2 ng-bind="chat.other_user | shortName"></h2>
        <p ng-bind="last_message.message" ng-class="{&#39;active&#39;: (chat.unread_messages_count &amp;&amp; chat.unread_messages_count &gt; 0)}" ng-if="last_message"></p>
        <span class="item-note active" ng-bind="last_message.created_at | timeToString" ng-if="last_message">-</span><span class="badge badge-positive" ng-bind="chat.unread_messages_count" ng-if="chat.unread_messages_count &amp;&amp; chat.unread_messages_count &gt; 0"></span></a>
    </div>
  </ion-content></ion-view>
