<ion-view class="chat"><!--SUBHEADER-->
  <div class="bar bar-subheader">
    <div class="chatHeader">
      <div class="left">
        <img class="avatar" ng-src="{{ (chat.other_user | userImageSrc ) || &#39;img/avatar.png&#39; }}" />
      </div>
      <div class="right">
        <a class="matchLink" href="" ng-click="showChatDetails()"><img ng-src="img/btnLikeChat.png" />
          <div class="matchLinkText">
            ver peças que combinaram
          </div>
        </a>
      </div>
    </div>
    <h2 ng-bind="chat.other_user | shortName"></h2>
  </div>
  <!--CONTENT--><ion-content class="has-header has-subheader has-footer" id="messages" on-scroll="onMessageInfiniteScroll()">
    <div class="padding">
      <ion-refresher ng-if="reachedEnd" on-refresh="onForceRefresh()" pulling-text="{{getLocalizedMessage(&#39;chat.chat_messages.reload&#39;)}}"></ion-refresher>
      <div class="row" ng-if="!reachedEnd &amp;&amp; $scope.loadingPrevious">
        <div class="col">
          <ion-spinner></ion-spinner>
        </div>
      </div>
      <div class="row message" ng-class="{&#39;meSpeak&#39;: (chat_message.user_id == user.id), &#39;youSpeak&#39;: (chat_message.user_id == user.id)}" ng-repeat="chat_message in chat_messages track by chat_message.id">
        <div class="col" ng-bind="chat_message.message"></div>
      </div>
      <div class="row no-messages" ng-show="chat_messages &amp;&amp; chat_messages.length == 0">
        <div class="col" ng-bind="getLocalizedMessage(&#39;chat.chat_messages.empty&#39;)"></div>
      </div>
    </div>
  </ion-content><!--FOOTER--><ion-footer-bar keyboard-attach="">
    <form ng-submit="send()">
      <div class="list sendMessageBox">
        <div class="item item-input-inset">
          <label class="item-input-wrapper"><input ng-model="chat.last_sent_message" placeholder="mensagem" type="text" /></label><a class="input button-icon icon ion-ios-paperplane" href="" ng-click="send()"></a>
        </div>
      </div>
    </form>
  </ion-footer-bar></ion-view>
