<div class="item item-avatar user-header">
  <img class="avatar" ng-src="{{(user | userImageSrc) || &#39;img/avatar.png&#39;}}" />
  <h2 ng-bind="t(&#39;apparel_form.greeting.prefix&#39;) + (user | shortName) + t(&#39;apparel_form.greeting.sufix&#39;)"></h2>
  <p ng-bind="t(&#39;apparel_form.subtitle&#39;)"></p>
</div>
<div class="item item-image clothesImage">
  <ks-swiper-container initial-slide="0" loop="false" on-ready="onReadySwiper(swiper)" override-parameters="{paginationHide: false}" pagination-clickable="true" pagination-is-active="entry.apparel_images.length &gt; 0" show-nav-buttons="false" slides-per-view="1" space-between="0" speed="2000" swiper="apparelSwiper"><ks-swiper-slide class="swiper-slide" ng-repeat="image in entry.apparel_images | filter:filterOnlyNotDestroyed"><img ng-src="{{image | imageSrc }}" width="100%" />
      <div class="actions">
        <a alt="Remover" class="image-button remove" href="" ng-click="removeImage(image)"><i class="fa fa-times"></i></a><a class="image-button main" href="" ng-click="makeMainImage(image)" ng-if="!$first"><i class="fa fa-star"></i></a>
      </div>
    </ks-swiper-slide><ks-swiper-slide class="swiper-slide"><a href="" ng-click="newImage()"><img class="main" src="img/clothesDefault.jpg" width="100%" /></a></ks-swiper-slide></ks-swiper-container>
</div>
<div class="item item-input item-stacked-label">
  <span class="input-label" ng-bind="t(&#39;apparel_form.titles.title&#39;)"></span><input ng-model="entry.title" placeholder="{{t(&#39;apparel_form.placeholders.title&#39;)}}" type="text" />
</div>
<div class="item item-input item-stacked-label">
  <span class="input-label" ng-bind="t(&#39;apparel_form.titles.size_info&#39;)"></span><input name="size_info" ng-model="entry.size_info" placeholder="{{t(&#39;apparel_form.placeholders.size_info&#39;)}}" type="text" />
</div>
<div class="item item-input item-stacked-label">
  <span class="input-label" ng-bind="t(&#39;apparel_form.titles.gender&#39;)"></span>
  <div class="row">
    <div class="col col-33">
      <ion-radio name="gender" ng-model="entry.gender" value="FEM">{{ t('shared.options.gender.fem') }}</ion-radio>
    </div>
    <div class="col col-33">
      <ion-radio name="gender" ng-model="entry.gender" value="MASC">{{ t('shared.options.gender.masc') }}</ion-radio>
    </div>
    <div class="col col-33">
      <ion-radio name="gender" ng-model="entry.gender" value="SKIP">{{ t('shared.options.gender.skip') }}</ion-radio>
    </div>
  </div>
</div>
<div class="item item-input item-stacked-label">
  <span class="input-label" ng-bind="t(&#39;apparel_form.titles.age_info&#39;)"></span>
  <div class="row">
    <div class="col col-33">
      <ion-radio name="age_info" ng-model="entry.age_info" value="ADU">{{ t('shared.options.age_info.adult') }}</ion-radio>
    </div>
    <div class="col col-33">
      <ion-radio name="age_info" ng-model="entry.age_info" value="INF">{{ t('shared.options.age_info.child') }}</ion-radio>
    </div>
    <div class="col col-33">
      <ion-radio name="age_info" ng-model="entry.age_info" value="ANY">{{ t('shared.options.age_info.any') }}</ion-radio>
    </div>
  </div>
</div>
<div class="item item-input item-stacked-label">
  <span class="input-label" ng-bind="t(&#39;apparel_form.titles.hashtags&#39;)"></span><tags-input display-property="name" keyProperty="id" ng-model="entry.apparel_tags" placeholder="{{t(&#39;apparel_form.placeholders.hashtags&#39;)}}" type="text" />
</div>
<div class="item item-input item-stacked-label">
  <span class="input-label" ng-bind="t(&#39;apparel_form.titles.description&#39;)"></span><textarea ng-model="entry.description" placeholder="{{t(&#39;apparel_form.placeholders.description&#39;)}}" />
</div>
