<div class="item item-avatar">
  <img class="avatar" ng-src="{{(user | userImageSrc) || &#39;img/avatar.png&#39;}}" />
  <h2 ng-bind="&#39;oiê, &#39; + (user | shortName) + &#39;!&#39;"></h2>
  <p>
    tire sua roupa esquecida do armário.
  </p>
</div>
<div class="item item-image clothesImage">
  <ks-swiper-container initial-slide="0" loop="true" override-parameters="{paginationHide: false}" pagination-clickable="true" pagination-is-active="entry.apparel_images.length &gt; 0" show-nav-buttons="false" slides-per-view="1" space-between="0" speed="2000"><ks-swiper-slide class="swiper-slide" ng-repeat="image in entry.apparel_images | filter:filterOnlyNotDestroyed"><img ng-src="{{image | imageSrc }}" width="100%" />
      <div class="actions">
        <a class="image-button" href="" ng-click="removeImage(image)">Remove</a><a class="image-button" href="" ng-click="makeMainImage(image)" ng-if="!$first">Tornar Principal</a>
      </div>
    </ks-swiper-slide><ks-swiper-slide class="swiper-slide"><a href="" ng-click="newImage()"><img class="main" src="img/clothesDefault.jpg" width="100%" /></a></ks-swiper-slide></ks-swiper-container>
</div>
<div class="item item-input item-stacked-label">
  <span class="input-label">titulo</span><input ng-model="entry.title" placeholder="dê um nome diferentão para sua peça" type="text" />
</div>
<div class="item item-input item-stacked-label">
  <span class="input-label">tamanho</span><input ng-model="entry.size_info" placeholder="p, m, g ou 48?" type="text" />
</div>
<div class="item item-input item-stacked-label">
  <span class="input-label">gênero</span>
  <div class="row">
    <div class="col col-25">
      <ion-radio ng-model="entry.gender" ng-value="FEM"> feminino</ion-radio>
    </div>
    <div class="col col-25">
      <ion-radio ng-model="entry.gender" ng-value="MASC">masculino</ion-radio>
    </div>
    <div class="col col-25">
      <ion-radio ng-model="entry.gender" ng-value="NO">sem gênero</ion-radio>
    </div>
    <div class="col col-25">
      <ion-radio ng-model="entry.gender" ng-value="SKIP">não informar</ion-radio>
    </div>
  </div>
</div>
<div class="item item-input item-stacked-label">
  <span class="input-label">adulta ou infantil</span>
  <div class="row">
    <div class="col col-33">
      <ion-radio ng-model="entry.age_info" ng-value="ADU">adulta</ion-radio>
    </div>
    <div class="col col-33">
      <ion-radio ng-model="entry.age_info" ng-value="INF">infantil</ion-radio>
    </div>
    <div class="col col-33">
      <ion-radio ng-model="entry.age_info" ng-value="ANY">tanto faz</ion-radio>
    </div>
  </div>
</div>
<div class="item item-input item-stacked-label">
  <span class="input-label">#hashtag</span><tags-input display-property="name" keyProperty="id" ng-model="entry.apparel_tags" placeholder="tags da peça" type="text" />
</div>
<div class="item item-input item-stacked-label">
  <span class="input-label">descrição</span><textarea ng-model="entry.description" placeholder="capriche! venda, ou melhor, troque seu peixe." />
</div>
