<ion-view class="registerClothes"><!--CONTENT--><ion-content class="has-header">
    <div class="list">
      <div ng-include="&#39;templates/apparels/_form.html&#39;"></div>
      <!--FOOTER-->
      <div class="row buttonBar">
        <div class="col">
          <button class="button button-cancel" ng-click="cancel()">cancelar</button>
        </div>
        <div class="col">
          <button class="button button-offer" ng-click="submit()">atualizar</button>
        </div>
      </div>
    </div>
  </ion-content></ion-view>
