<ion-view class="myClothes"><!--SUBHEADER-->
  <div class="bar bar-subheader">
    <div class="sheader">
      <img class="avatar" src="{{ (owner_user | userImageSrc ) || &#39;img/avatar.png&#39; }}" />
      <p class="title" ng-bind="is_mine ? t(&#39;apparels.my_apparels&#39;) : (owner_user | shortName)"></p>
    </div>
  </div>
  <!--CONTENT--><ion-content class="has-header has-subheader">
    <div class="row" ng-repeat="apparel_chunk in apparels | chunkBy:2">
      <div class="col col-50" ng-repeat="apparel in apparel_chunk">
        <ion-item>
          <div ng-if="apparel.apparel_images &amp;&amp; apparel.apparel_images.length &gt; 0">
            <img ng-src="{{ apparel.apparel_images[0] | imageSrc }}" width="100%" />
          </div>
          <p class="title" ng-bind="apparel.title"></p>
          <p>
            <span ng-bind="apparel.size_info"></span><span ng-if="apparel.hasGender()"> | </span><span ng-bind="apparel.gender | genderName" ng-if="apparel.hasGender()"></span><span ng-if="apparel.hasAgeInfo()"> | </span><span ng-bind="apparel.age_info | ageInfoName" ng-if="apparel.hasAgeInfo()"></span>
          </p>
          <div class="row options" ng-if="is_mine">
            <div class="col">
              <a href="" ng-click="delete(apparel)"><img ng-src="img/btnDelete.png" /></a>
            </div>
            <div class="col">
              <a href="" ng-click="edit(apparel)"><img ng-src="img/btnEdit.png" /></a>
            </div>
          </div>
        </ion-item>
      </div>
    </div>
  </ion-content></ion-view>
