<ion-view class="myClothes"><!--SUBHEADER-->
  <div class="bar bar-subheader">
    <div class="sheader">
      <img class="avatar" src="img/avatar.png" />
      <p class="title">
        minhas peças
      </p>
    </div>
  </div>
  <!--CONTENT--><ion-content class="has-header has-subheader">
    <div class="row">
      <div class="col col-50">
        <ion-item><img ng-src="img/picDress1.jpg" width="100%" />
          <p class="title">
            vestidinho florido
          </p>
          <p>
            tamanho M | fem | adulta
          </p>
          <div class="row options">
            <div class="col">
              <img ng-src="img/btnDelete.png" />
            </div>
            <div class="col">
              <img ng-src="img/btnEdit.png" />
            </div>
          </div>
        </ion-item>
      </div>
      <div class="col col-50">
        <ion-item><img ng-src="img/picDress3.jpg" width="100%" />
          <p class="title">
            bolsa novinha
          </p>
          <p>
            pequena | fem | adulta
          </p>
          <div class="row options">
            <div class="col">
              <a href="#"><img ng-src="img/btnDelete.png" /></a>
            </div>
            <div class="col">
              <a href="#"><img ng-src="img/btnEdit.png" /></a>
            </div>
          </div>
        </ion-item>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <ion-item><img ng-src="img/picDress1.jpg" width="100%" />
          <p class="title">
            vestidinho florido
          </p>
          <p>
            tamanho M | fem | adulta
          </p>
          <div class="row options">
            <div class="col">
              <a href="#"><img ng-src="img/btnDelete.png" /></a>
            </div>
            <div class="col">
              <a href="#"><img ng-src="img/btnEdit.png" /></a>
            </div>
          </div>
        </ion-item>
      </div>
      <div class="col col-50">
        <ion-item><img ng-src="img/picDress3.jpg" width="100%" />
          <p class="title">
            bolsa novinha
          </p>
          <p>
            pequena | fem | adulta
          </p>
          <div class="row options">
            <div class="col">
              <a href="#"><img ng-src="img/btnDelete.png" /></a>
            </div>
            <div class="col">
              <a href="#"><img ng-src="img/btnEdit.png" /></a>
            </div>
          </div>
        </ion-item>
      </div>
    </div>
  </ion-content></ion-view>
