<ion-view class="registerClothes"><!--CONTENT--><ion-content class="has-header">
    <form ng-submit="submit()">
      <div class="list">
        <div ng-include="&#39;templates/apparels/_form.html&#39;"></div>
        <!--FOOTER-->
        <div class="row buttonBar">
          <div class="col">
            <button class="button button-cancel" ng-click="cancel()">{{ t('shared.buttons.cancel') }}</button>
          </div>
          <div class="col">
            <button class="button button-offer" type="submit">{{ t('new_apparel.form.buttons.save' )}}</button>
          </div>
        </div>
      </div>
    </form>
  </ion-content></ion-view>
