<ion-view class="search"><!--SUBHEADER-->
  <div class="bar bar-subheader">
    <div class="sheader">
      <img class="icon" src="img/iconSearch.png" />
      <p class="title">
        {{t('search_apparels.title')}}
      </p>
    </div>
  </div>
  <!--CONTENT--><ion-content class="has-header has-subheader has-footer">
    <div class="list">
      <div class="item item-input item-stacked-label">
        <span class="input-label">{{t('search_apparels.titles.hashtags')}}</span><span class="input-label subtitle">{{t('search_apparels.subtitles.hashtags')}}</span><tags-input display-property="name" keyProperty="name" ng-model="filters.tags" placeholder="{{t(&#39;search_apparels.placeholders.hashtags&#39;)}}" type="text" />
      </div>
      <div class="item item-input item-stacked-label item-select" ng-repeat="group in propertyGroups | orderBy:&#39;sort_order&#39;">
        <span class="input-label" ng-bind="group.name"></span><select id="{{group.prop_name}}" name="{{group.prop_name}}" ng-change="groupPropertySelectionChanged(group)" ng-model="filters.apparel_property[group.prop_name]" ng-options="option.id as option.name for option in group.properties track by option.id" required="required"></select>
      </div>
      <div class="item item-input item-stacked-label">
        <span class="input-label">{{t('search_apparels.titles.range') }}<b>{{filters.range < 100 ? (t('search_apparels.titles.range_prefix') + filters.range + 'km') : t('search_apparels.titles.range_all')}}</b></span>
        <div class="range range-assertive">
          1km<input max="100" min="1" ng-model="filters.range" step="1" type="range" />{{t('search_apparels.placeholders.range.none')}}
        </div>
      </div>
    </div>
  </ion-content><!--FOOTER--><ion-footer-bar>
    <div class="row buttonBar">
      <div class="col">
        <button class="button button-cancel" ng-click="cancel()">{{t('search_apparels.buttons.clear')}}</button>
      </div>
      <div class="col">
        <button class="button button-filter" ng-click="filter()">{{t('search_apparels.buttons.submit')}}</button>
      </div>
    </div>
  </ion-footer-bar></ion-view>
