<ion-view class="search"><!--SUBHEADER-->
  <div class="bar bar-subheader">
    <div class="sheader">
      <img class="icon" src="img/iconSearch.png" />
      <p class="title">
        {{t('search_apparels.title')}}
      </p>
    </div>
  </div>
  <!--CONTENT--><ion-content class="has-header has-subheader has-footer">
    <div class="list">
      <div class="item item-input item-stacked-label">
        <span class="input-label">{{t('search_apparels.titles.hashtags')}}</span><span class="input-label subtitle">{{t('search_apparels.subtitles.hashtags')}}</span><tags-input display-property="name" keyProperty="name" ng-model="filters.tags" placeholder="{{t(&#39;search_apparels.placeholders.hashtags&#39;)}}" type="text" />
      </div>
      <div class="item item-input item-stacked-label">
        <span class="input-label">{{t('search_apparels.titles.size_info')}}</span><input name="size_info" ng-model="entry.size_info" placeholder="{{t(&#39;search_apparels.placeholders.size_info&#39;)}}" type="text" />
      </div>
      <div class="item item-input item-stacked-label">
        <span class="input-label">{{t('search_apparels.titles.gender')}}</span>
        <div class="row">
          <div class="col col-33">
            <ion-radio name="gender" ng-model="filters.gender" value="FEM">{{ t('shared.options.gender.fem') }}</ion-radio>
          </div>
          <div class="col col-33">
            <ion-radio name="gender" ng-model="filters.gender" value="MASC">{{ t('shared.options.gender.masc') }}</ion-radio>
          </div>
          <div class="col col-33">
            <ion-radio name="gender" ng-model="filters.gender" ng-value="null">{{ t('shared.options.gender.any') }}</ion-radio>
          </div>
        </div>
      </div>
      <div class="item item-input item-stacked-label">
        <span class="input-label">{{t('search_apparels.titles.age_info')}}</span>
        <div class="row">
          <div class="col col-33">
            <ion-radio name="age_info" ng-model="filters.age_info" value="ADU">{{ t('shared.options.age_info.adult') }}</ion-radio>
          </div>
          <div class="col col-33">
            <ion-radio name="age_info" ng-model="filters.age_info" value="INF">{{ t('shared.options.age_info.child') }}</ion-radio>
          </div>
          <div class="col col-33">
            <ion-radio name="age_info" ng-model="filters.age_info" ng-value="null">{{ t('shared.options.age_info.any') }}</ion-radio>
          </div>
        </div>
      </div>
      <div class="item item-input item-stacked-label">
        <span class="input-label">{{t('search_apparels.titles.range') }}<b>{{filters.range < 100 ? (t('search_apparels.titles.range_prefix') + filters.range + 'km') : t('search_apparels.titles.range_all')}}</b></span>
        <div class="range range-assertive">
          1km<input max="100" min="1" ng-model="filters.range" step="1" type="range" />{{t('search_apparels.placeholders.range.none')}}
        </div>
      </div>
    </div>
  </ion-content><!--FOOTER--><ion-footer-bar>
    <div class="row buttonBar">
      <div class="col">
        <button class="button button-cancel" ng-click="cancel()">{{t('search_apparels.buttons.clear')}}</button>
      </div>
      <div class="col">
        <button class="button button-filter" ng-click="filter()">{{t('search_apparels.buttons.submit')}}</button>
      </div>
    </div>
  </ion-footer-bar></ion-view>
