ion-view#apparel-result title=""
  .content.with-lower-bar
    ion-content overflow-scroll="true"
      ion-slide-box.main show-pager="{{entry.apparel_images.length > 1}}" does-continue="true"
        ion-slide ng-repeat="image in entry.apparel_images"
          img.main ng-src="{{image.file}}" 
      .info
        h1.title ng-bind="entry.title"
        ul.extra-info
          li.size-info ng-bind="'tamanho' + entry.size_info"
          li.gender ng-bind="entry.gender"
          li.age-info ng-bind="entry.age_info"
        ul.tags ng-if="entry.apparel_tags.length > 0"
          li ng-repeat="tag in entry.apparel_tags" ng-bind="'#' + tag.name"
        p.description ng-bind="entry.description"
        .kind-hearted
          img.profile ng-src="{{entry.user.social_image || entry.user.image}}"
          .name ng-bind="entry.user.nickname"
          .distance ng-bind="'< ' + entry.user.distance"
  .lower-bar style=""
    #rate.button-bar.text-center
      a.dislike href=""
        span.fa-stack.fa-3x
          i.fa.fa-circle-thin.fa-stack-2x.back
          i.fa.fa-times.fa-stack-1x.front
      a.like href=""
        span.fa-stack.fa-3x
          i.fa.fa-circle-thin.fa-stack-2x.back
          i.fa.fa-heart.fa-stack-1x.front