ion-view title="Chats"
  .content.no-lower-bar
    ion-content overflow-scroll="true" 
      ion-list
        ion-item.item-thumbnail-left ng-repeat=("chat in chats") ng-click="open(chat)" href=""
          h2 ng-bind="chat.name"
