ion-view.has-header title=""
  .content.with-lower-bar
    ion-content overflow-scroll="true"
      h3 ng-if="chat_messages == null" Carregando
      h3 ng-if="chat_messages.length == 0" Nenhuma Mensagem enviada
      ion-list
        ion-item.item-thumbnail-left ng-repeat=("chat_message in chat_messages") ng-include="getIncludeFile(chat_message)"
  ion-footer-bar
    input type="text" ng-model="chat.last_sent_message" placeholder="nova mensagem" /
    .buttons
      button.button ng-click="send()" enviar

script type="text/ng-template" id="ChatMessage.html"
  h2 ng-bind="chat_message.message" 

script type="text/ng-template" id="LoadMore.html"
  a href="" ng-click="loadMore()"
    h3 ng-bind="chat_message.message"