ion-view.initial_loading
  /! CONTENT
  ion-content scroll="false" 
    .logo
      img alt=("{{t('global.app.name')}}") src="img/logoWhite.png" /
    p.loadingText ng-bind="loadingMessage && loadingMessage.length > 0 ? loadingMessage : t('shared.loading')" 