ion-view.loading
  /! CONTENT
  ion-content scroll="false" 
    .logo
      img alt=("ROUPA LIVRE") src="img/logo.png" /
    p.loadingText ng-bind="loadingMessage && loadingMessage.length > 0 ? loadingMessage : 'Carregando...'" 