ion-view title=""
  .content.no-lower-bar
    ion-content overflow-scroll="true" 
      p 
        | Acabou de acontecer um match em um dos seus likes!
        br/
        | Entre já para trocar a peça!


      #main-actions.button-bar.text-center.two-buttons 
        a.cancel href="" ng-click="cancel()" Agora não
        a.submit href="" ng-click="submit()" Continuar