ion-side-menus enable-menu-with-back-views="false" 
  ion-side-menu-content
    ion-nav-bar.bar-stable
      ion-nav-buttons side="left"
        button.button.button-clear.ion-navicon menu-toggle="left" 
      ion-nav-title
        h1.title
          button.button.button-clear ng-click="goMain()" 
            img.logoButton src="img/logoHeader.png" /
      ion-nav-buttons side="right"
          button.button.button-clear ng-click="goChats()" 
            img.iconButton src="img/iconChat.png" /

    ion-nav-view name="side-menu-content" 
  /! MENU CONTENT
  ion-side-menu side="left" 
    ion-header-bar.bar-stable
      h1.title Menu
    ion-content
      ion-list
        ion-item href="#" menu-close="" 
          | filtrar
        ion-item href="#" menu-close="" 
          | minhas peças
        ion-item href="#" menu-close="" 
          | sobre