ion-view#apparel-result title=""
  .content.with-lower-bar
    ion-content overflow-scroll="true" 
      div ng-include="'templates/_form.html'"
  .lower-bar style=""
    #main-actions.button-bar.text-center.two-buttons
      a.cancel href="" ng-click="cancel()" Cancelar
      a.submit href="" ng-click="submit()" Adicionar Peça