/* MIXINS ********************************************************** */
/* ***************************************************************** */
/* GENERAL ********************************************************* */
/* ***************************************************************** */
* {
  font-family: 'Nunito', Sans-Serif;
  font-weight: 300; }

.row {
  padding: 0; }

.item-radio {
  border: 0; }

.item-radio input:checked + .radio-content .item-content {
  background: #fff;
}

/* HEADER ********************************************************** */
/* ***************************************************************** */
.title .button {
  display: block;
  margin: 5px auto 0 auto; }

.title .button .logoButton {
  display: block;
  height: 27px;
  width: auto; }

.button .iconButton {
  display: block;
  height: 25px;
  width: auto; }

a.button .iconButton {
  display: inline-block;
  vertical-align: middle; }

/* FOOTER ********************************************************** */
/* ***************************************************************** */
.bar.bar-footer {
  margin: 0;
  padding: 0; }

.bar-footer {
  height: 85px; }

.has-footer {
  bottom: 85px; }

ion-footer-bar form {
  width: 100%; }

/* SPLASH ********************************************************** */
/* ***************************************************************** */
.splash {
  background-color: #37b2c3;
  background-image: url("../img/bgSplash.jpg");
  background-size: cover; }

.splash .logo {
  height: 30%;
  white-space: nowrap;
  text-align: center; }
  .splash .logo:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .splash .logo img {
    vertical-align: bottom;
    margin: 0 auto 0 auto;
    width: 118px;
    height: auto; }

.splash .slogan {
  height: 40%;
  text-align: center;
  vertical-align: middle;
  display: table; }
  .splash .slogan p {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto 0 auto;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding-right: 20%;
    padding-left: 20%; }

.splash .action {
  height: 30%;
  white-space: nowrap;
  text-align: center; }
  .splash .action:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .splash .action .button-facebook {
    background-color: #0062f2;
    color: #fff;
    margin: 0 10% 0 10%;
    padding: 3% 0;
    border-radius: 40px;
    font-weight: 700;
    width: 80%;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 5px #004AB5;
    border: 0; }

/* REGISTER CLOTHES ************************************************ */
/* ***************************************************************** */
.registerClothes .list {
  margin-bottom: 0; }

.registerClothes img.avatar {
  border: 2px solid #3df2d6; }

.registerClothes .clothesImage {
  background-color: #ccc;
  border-bottom: 8px solid #3df2d6;
  width: 100%; }

.registerClothes span.input-label {
  color: #b3b3b3;
  font-size: 12px; }

.registerClothes input {
  font-size: 13px; }
  .registerClothes input::-webkit-input-placeholder {
    color: #ccc; }
  .registerClothes input:-moz-placeholder {
    color: #ccc; }
  .registerClothes input::-moz-placeholder {
    color: #ccc; }
  .registerClothes input:-ms-input-placeholder {
    color: #ccc; }
  .registerClothes input.placeholder {
    color: #ccc; }

.registerClothes ::-webkit-input-placeholder {
  color: #333; }

.registerClothes :-moz-placeholder {
  color: #333; }

.registerClothes ::-moz-placeholder {
  color: #333; }

.registerClothes :-ms-input-placeholder {
  color: #333; }

.registerClothes .item-radio * {
  border: none !important; }

.registerClothes .item-radio span {
  font-size: 12px; }

.registerClothes .item-radio .item-content {
  padding: 5px;
  white-space: normal; }

.registerClothes .item-radio .radio-icon {
  padding: 0 5px; }

.registerClothes .buttonBar {
  background-color: #f0fcfb; }

.registerClothes .buttonBar .button-cancel {
  background-color: #f46554;
  color: #fff;
  margin: 5%;
  padding: 3% 0;
  border-radius: 40px;
  font-weight: 700;
  width: 90%;
  box-shadow: 0px 5px #b74c3f;
  border: 0; }

.registerClothes .buttonBar .button-offer {
  background-color: #0062f2;
  color: #fff;
  margin: 5%;
  padding: 3% 0;
  border-radius: 40px;
  font-weight: 700;
  width: 90%;
  box-shadow: 0px 5px #004ab5;
  border: 0; }

/* SEARCH MATCH **************************************************** */
/* ***************************************************************** */
.searchMatch .list {
  margin-bottom: 0; }

.searchMatch .clothesImage {
  background-color: #ccc;
  border-bottom: 8px solid #3df2d6; }

.searchMatch .swiper-pagination-bullet {
  background: #ededed;
  opacity: 1; }

.searchMatch .swiper-pagination-bullet-active {
  background: #3df2d6; }

.searchMatch p {
  text-align: center; }

.searchMatch p.title {
  font-size: 16px;
  font-weight: 700; }

.searchMatch p.details {
  font-size: 12px; }

.searchMatch p.hashtags {
  font-size: 12px; }

.searchMatch p.description {
  font-size: 12px;
  font-weight: 700; }

.searchMatch img.avatar {
  border: 2px solid #3df2d6;
  border-radius: 20px;
  margin: 0 auto 15px auto;
  display: block;
  max-width: 40px;
  max-height: 40px; }

.searchMatch p.ownerName {
  font-weight: 700; }

.searchMatch p.ownerDistance {
  font-size: 12px; }

.searchMatch .buttonBar {
  background-color: #f0fcfb;
  padding: 0 25%; }

.searchMatch .buttonBar .button-dislike {
  background-color: #fff;
  color: #f46554;
  margin: 5% auto;
  padding: 0;
  border-radius: 40px;
  border: 5px solid #ddd;
  height: 70px;
  width: 70px;
  box-shadow: 0px 2px #ccc;
  border: 0; }

.searchMatch .buttonBar .button-like {
  background-color: #fff;
  color: #0062f2;
  margin: 5% auto;
  padding: 0;
  border-radius: 40px;
  border: 5px solid #ddd;
  height: 70px;
  width: 70px;
  box-shadow: 0px 2px #ccc;
  border: 0; }

.searchMatch .buttonBar img {
  width: 60%;
  margin-top: 20%; }

/* LOADING ********************************************************* */
/* ***************************************************************** */
.loading {
  background-color: #0062f2;
  /* #0062f2; */ }

.loading-container .loading {
  background-color: rgba(0, 98, 242, 0.7);
  /* #0062f2; com transparencia 70% */ }

.loading div.logo img {
  display: block;
  margin: 40% auto 0 auto;
  width: 118px;
  height: auto; }

.loading p.loadingText {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin: 50% auto 0 auto;
  text-align: center; }

/* MATCHED ********************************************************* */
/* ***************************************************************** */
.matched {
  background-color: #37b2c3;
  background-image: url("../img/bgMatched.jpg");
  background-size: cover; }

.matched .title {
  vertical-align: middle;
  text-align: center;
  display: table;
  height: 25%;
  width: 100%; }

  .matched .title h1 {
    color: #fff;
    font-family: 'Kaushan Script', Sans-Serif;
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
    margin: auto 0;
    height: auto;
    display: block;
    padding-top: 0.3em;
    margin-left: -15px; }

.matched .images {
  height: 40%;
  max-height: 40%;
  width: 100%; }

  .matched .images .col {
    margin: 0;
    padding: 0;
    border-bottom: 8px solid #3df2d6;
    overflow: hidden;
    height: 100%;
    max-height: 100%; }
    .matched .images .col img {
      max-height: 100%; }

.matched p {
  height: 5%;
  max-height: 5%;
  color: #fff;
  display: block;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 5px 0; }

.matched .buttonBar {
  height: 30%;
  max-height: 30%;
  display: table;
  vertical-align: middle;
  text-align: center; }

  .matched .buttonBar .col {
    width: 50%;
    height: auto;
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
    .matched .buttonBar .col button {
      color: #fff;
      margin: 10% 5%;
      padding: 3% 0;
      border-radius: 40px;
      font-weight: 700;
      width: 90%;
      font-size: 0.9em; }

  .matched .buttonBar .button-continue {
    background-color: #f46554;
    box-shadow: 0px 5px #b74c3f;
    border: 0; }
  .matched .buttonBar .button-change {
    background-color: #0062f2;
    box-shadow: 0px 5px #004ab5;
    border: 0; }

/* ALERT *********************************************************** */
/* ***************************************************************** */
.alert .title {
  background: #0772ef;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0772ef 0%, #1fabe4 50%, #37e4d9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0772ef), color-stop(50%, #1fabe4), color-stop(100%, #37e4d9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0772ef 0%, #1fabe4 50%, #37e4d9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0772ef 0%, #1fabe4 50%, #37e4d9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0772ef 0%, #1fabe4 50%, #37e4d9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0772ef 0%, #1fabe4 50%, #37e4d9 100%);
  /* W3C */
  display: block;
  height: 206px;
  min-height: 206px; }

.alert .title h1 {
  color: #fff;
  font-family: 'Kaushan Script', Sans-Serif;
  font-size: 70px;
  text-align: center;
  padding-top: 58px; }

.alert p {
  text-align: center; }

.alert p.subtitle {
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin: 30% auto 0 auto;
  width: 60%; }

.alert p.info {
  display: block;
  margin: 0 auto 30% auto;
  width: 60%; }

.alert .button-click {
  background-color: #0062f2;
  color: #fff;
  margin: 0 10%;
  padding: 3% 0;
  border-radius: 40px;
  font-weight: 700;
  width: 80%;
  box-shadow: 0px 5px #004ab5;
  border: 0; }

/* FILTER ********************************************************** */
/* ***************************************************************** */
/* MY CLOTHES ****************************************************** */
/* ***************************************************************** */
.myClothes {
  background-color: #f0fcfb; }

/* USERS *********************************************************** */
/* ***************************************************************** */
.users .thumb {
  border: 2px solid #3df2d6; }

.users p.active {
  color: #0062f2;
  font-weight: 700; }

.users .item-note {
  position: absolute;
  top: 16px;
  right: 32px; }

.users .item-note.active {
  color: #0062f2;
  position: absolute;
  top: 14px;
  right: 32px; }

.users .badge {
  position: absolute;
  top: 38px;
  right: 32px;
  font-weight: 300; }

/* CHAT ************************************************************ */
/* ***************************************************************** */
.chat .bar-subheader {
  background: #0772ef;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0772ef 0%, #1fabe4 50%, #37e4d9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0772ef), color-stop(50%, #1fabe4), color-stop(100%, #37e4d9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0772ef 0%, #1fabe4 50%, #37e4d9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0772ef 0%, #1fabe4 50%, #37e4d9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0772ef 0%, #1fabe4 50%, #37e4d9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0772ef 0%, #1fabe4 50%, #37e4d9 100%);
  /* W3C */
  display: block;
  height: 150px;
  min-height: 150px; }

.chat .has-subheader {
  top: 194px; }

.chat .changes img {
  display: block;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%; }

.chat .changes .left img {
  float: left;
  margin: 0 5px 0 0; }

.chat .changes .right img {
  float: right;
  margin: 0 0 0 5px; }

.chat .chatHeader {
  clear: both;
  display: block; }

.chat .chatHeader .left img {
  float: left;
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-left: 10px; }

.chat .chatHeader .right img {
  float: right;
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-right: 10px; }

.chat img.avatar {
  border: 2px solid #3df2d6; }

.chat h2 {
  color: #fff !important;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0 0 70px; }

.chat .message {
  border-radius: 5px;
  margin-bottom: 10px;
  padding-bottom: 2px; }
  .chat .message:first-child {
    margin-top: 10px; }
    .chat .message:first-child.meSpeak {
      border-top-left-radius: 0; }
    .chat .message:first-child.youSpeak {
      border-top-right-radius: 0; }
  .chat .message.meSpeak {
    background: #ededed;
    text-align: left;
    padding-left: 4px; }
  .chat .message.youSpeak {
    background: #3df2d6;
    padding-right: 4px;
    text-align: right; }
  .chat .message:not(:first-child).meSpeak + .message.youSpeak {
    margin-top: 10px;
    border-top-left-radius: 0; }
  .chat .message:not(:first-child).youSpeak + .message.meSpeak {
    margin-top: 10px;
    border-top-right-radius: 0; }

.chat .bar-footer {
  height: 58px; }

.chat .has-footer {
  bottom: 58px; }

.chat .sendMessageBox {
  min-width: 100%; }

.chat .sendMessageBox .item {
  background-color: #f0fcfb;
  border: 0; }

.chat .sendMessageBox .item label {
  background-color: #fff; }

.chat .sendMessageBox .item input {
  background-color: #fff;
  width: 100%; }

.chat .sendMessageBox .item a {
  color: #0062f2; }

.bar-stable .button.button-clear {
  color: #0066ff;
  font-size: 36px; }
